<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dieam.reactnativepushnotification">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <permission android:name="android.permission.SYSTEM_ALERT_WINDOW"
        android:protectionLevel="signature|preinstalled|appop|pre23|development" />

</manifest>
